@import "../../mixins"
@import "../../colors"

.input
    padding: 2.5rem 1.8rem
    @include form-input
    &__wrapper
        display: flex
        flex-direction: column
        position: relative   
    &__img
        position: absolute
        top: 2rem
        left: 2rem
    &__right
        @include form-input
        padding: 2.5rem 4.8rem
    &::placeholder
        color: $placeholder-color