.button {
    width: 100%;
    padding: 20px 10px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.button-solid:hover {
    background-color: #1116C2;
}

.button-solid {
    background-color: var(--primary-blue-color);
    color: var(--second-white-color);
    font-weight: 800;
}