.avatar
    object-fit: cover
    width: 15rem
    aspect-ratio: 1 / 1
    cursor: pointer
    border-radius: 1.2rem

    &__wrapper
        color: white
        border-radius: 1.2rem
        display: inline-block
