@import 'normalize.css'
@import 'colors'

html
    font-size: 62.5%

body
    background-color: $primary-color
    &::-webkit-scrollbar
        width: 0.25rem
    &::-webkit-scrollbar-track
        background: $primary-color
    &::-webkit-scrollbar-thumb
        background: $white
a
    text-decoration: none

input:focus
    outline: none

button 
    cursor: pointer
    border: none
