@import 'normalize.css'
@import 'colors'

html
    font-size: 62.5%

body
    background-color: $primary-color

a
    text-decoration: none

input:focus
    outline: none

button 
    cursor: pointer
    border: none
