:root {
  --primary-blue-color: #3035E2;
  --second-white-color: #F8F8F8;
  --third-black-color: #272727;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #CAC9F5;
}

p {
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
}